.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.shelter.text-left.dark-text
      %h1.no-margin.bold.light-shelter-text.no-margin Signin
      %p.no-margin I'll give them shelter, like you've done for me
      .top-space
        =render "devise/registrations/new"
