.full-height {
	height: 100%;
}
.no-margin {
	margin: 0;
}

.big-padding {
	padding: 2em 1.5em;
}
html,body {
	height: 100%;
}

.top-space {
	margin-top: 1em;
}

.undeline {
	text-decoration: underline;
}

.text-le {
	text-align: left;
}

.big-padding a {
	color: #088AC7;
	font-family: 'Lato';

}

.button-large {
	width: 90%;
	text-transform: capitalize;
}

.mdl-textfield.is-focused .mdl-textfield__label {
	color: #088AC7;
}

.mdl-textfield__label:after{
	background-color: #088AC7;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #088AC7;
}

.mdl-button--raised.mdl-button--colored {
	background-color: #088AC7;
	border-radius: 5px;
	height: 40px;
}

.mdl-button--raised.mdl-button--colored:hover {
	background: rgba(0,0,0,0);
	color: #088AC7;
	box-shadow: inset 0 0 0 2px #088AC7;
}

.shelter {
	border-radius: 15px;	
	-webkit-box-shadow: 10px 10px 7px -6px rgba(54,51,51,0.54);
	-moz-box-shadow: 10px 10px 7px -6px rgba(54,51,51,0.54);
	box-shadow: 10px 10px 7px -6px rgba(54,51,51,0.54);
}

.shelter h1{
	font-family: 'Lato';
	font-weight: 300;

}