.full-height {
	height: 100%;
}
.no-margin {
	margin: 0;
}

.big-padding {
	padding: 2em 1.5em;
}
html,body {
	height: 100%;
}

.top-space {
	margin-top: 1em;
}

.undeline {
	text-decoration: underline;
}

.text-le {
	text-align: left;
}

.big-padding a {
	color: white;
}

.button-large {
	width: 90%;
}
.is-dirty .mdl-textfield__label{
	color: #DFF6FB;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #DFF6FB;
}

.mdl-textfield__label:after{
    background-color: #DFF6FB;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #DFF6FB;
	}

.mdl-button--raised.mdl-button--colored {
	background-color: #BB6082;
}
.mdl-button--raised.mdl-button--colored:hover {
	background-color: #b56770;
}
