// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-background {
  background-color: #033247;
  opacity: 0.8;
	//background-image: url(#{asset_path('background.png')});
	background-size: cover;
	background-repeat: none;
	background-position: center;
}

